<head>
  <style>
    {{ style }}
  </style>
</head>

<body>

<div style="padding-top: 0px; padding-bottom: 0px; line-height: 140%;">
  <!--<h3>Welcome to the AiiDAlab ATMOSPEC app! 👋</h3>-->
  <div align="center">
    <img src="aiidalab_ispg/static/atmospec_logo-480.png" height="70" width=240">
  </div>

</div>

</body>
